<h1>Modificar modalidad {{modalidad.id}}</h1>
<form>
	<div class="form-group">
		<label for="nombre">nombre</label>
		<input [(ngModel)]="modalidad.nombre" type="text" name="nombre" class="form-control">
	</div>
	<div class="form-group">
		<label for="descripcion">descripcion</label>
		<textarea [(ngModel)]="modalidad.descripcion" type="text" name="descripcion" class="form-control"></textarea>
  	</div>
	<button class="btn btn-success" (click)="editarModalidad()">Modificar modalidad</button>
</form>