<div class="container">
	<h1>Crear proceso</h1>
	<form>
		<!--
      <div class="form-group">
        <label for="compania">Compañia</label>
        <select [(ngModel)]="proceso.compania" name="compania" placeholder="Compañia" class="form-control">
        	<option disabled selected>Seleccione una...</option>
			<option *ngFor="let compania of companias" [ngValue]="compania">
				{{compania.nombre}}
			</option>
        </select>  
      </div>   
  -->
		<div class="form-group">
			<label for="numero">numero</label>
			<input [(ngModel)]="proceso.numero" type="text" name="numero" class="form-control">
		</div>
		<div class="form-group">
			<label for="palabraclave">palabraclave</label>
			<textarea [(ngModel)]="proceso.palabraclave" type="text" name="palabraclave" class="form-control"></textarea>
	  	</div>
		<div class="form-group">
			<label for="objeto">objeto</label>
			<textarea [(ngModel)]="proceso.objeto" type="text" name="objeto" class="form-control"></textarea>
	  	</div>  
		<div class="form-group">
			<label for="presupuestooficial">presupuestooficial</label>
			<textarea [(ngModel)]="proceso.presupuestooficial" type="text" name="presupuestooficial" class="form-control"></textarea>
	  	</div> 
		<div class="form-group">
			<label for="plazoejecucion">plazoejecucion</label>
			<textarea [(ngModel)]="proceso.plazoejecucion" type="text" name="plazoejecucion" class="form-control"></textarea>
	  	</div>  
		<div class="form-group">
			<label for="fechainicio">fechainicio</label>
			<textarea [(ngModel)]="proceso.fechainicio" type="text" name="fechainicio" class="form-control"></textarea>
	  	</div>    
		<div class="form-group">
			<label for="formadepago">Forma de pago</label>
			<select [(ngModel)]="proceso.formadepago" name="formadepago" placeholder="Formas de pago" class="form-control">
				<!-- <option disabled selected>Seleccione una...</option> -->
				<option *ngFor="let formadepago of formadepagos" [ngValue]="formadepago">
					{{formadepago.nombre}}
				</option>
			</select>  
		</div>
		<div class="form-group">
			<label for="garantia">Garantía</label>
			<select [(ngModel)]="proceso.garantia" name="garantia" placeholder="Garantia" class="form-control">
				<!-- <option disabled selected>Seleccione una...</option> -->
				<option *ngFor="let garantia of garantias" [ngValue]="garantia">
					{{garantia.nombre}}
				</option>
			</select>  
		</div>		 	   		   	  	  		
		<button class="btn btn-success" (click)="crearproceso()">Crear proceso</button>
	</form>	
</div>