<h2>Modalidad <strong>{{modalidad.nombre}}</strong></h2>
<a [routerLink]="['/crear-proceso']" class="btn btn-light">Crear</a>
<table class="table table-hover table-bordered">
	<thead>
		<th>Id</th>
	    <th>Numero</th>
	    <th>Palabra clave</th>
	    <th>Objeto</th>
	    <th>Presupuesto oficial</th>
        <th>Plazo ejecucion</th>
        <th>Fecha inicio</th>
        <th>Forma de pago</th>
        <th>Garantia</th>
		<th>Acción</th>
	</thead>
	<tbody>
		<tr id="proceso.id" *ngFor="let proceso of procesos">
			<td>{{ proceso.id }}</td>
	        <td>{{ proceso.numero }}</td>
	        <td>{{ proceso.palabraclave }}</td>
	        <td>{{ proceso.objeto }}</td>
	        <td>{{ proceso.presupuestooficial }}</td>
	        <td>{{ proceso.plazoejecucion }}</td>
	        <td>{{ proceso.fechainicio }}</td>
	        <td>{{ proceso.formadepago.nombre }}</td>
	        <td>{{ proceso.garantia.nombre }}</td>
			<td>
				<a [routerLink]="['/editar-proceso', proceso.id]" class="btn btn-light">Editar</a>
				<a (click)="eliminarProceso(proceso.id)" class="btn btn-light">Eliminar</a>
			</td>
			
		</tr>
	</tbody>
</table>
<a href="http://localhost:8080/reporte" class="btn btn-primary">Descargar Reporte</a>	