<h2>Listado de companias</h2>
<a [routerLink]="['/crear-compania']" class="btn btn-light">Crear</a>
<table class="table table-hover table-bordered">
	<thead>
		<th>Id</th>
	    <th>Nombre</th>
	    <th>Descripcion</th>
		<th>Acción</th>
	</thead>
	<tbody>
		<tr id="compania.id" *ngFor="let compania of companias">
			<td>{{ compania.id }}</td>
        	<td>{{ compania.nombre }}</td>
			<td>{{ compania.descripcion }}</td>
			<td>
				<!-- <a [routerLink]="['/editar-compania', compania.id]" class="btn btn-light">Editar</a> -->
				<a [routerLink]="['/ver-compania', compania.id]" class="btn btn-light">Ver</a>
				<!-- <a (click)="eliminarcompania(compania.id)" class="btn btn-light">Eliminar</a> -->
			</td>
			
		</tr>
	</tbody>
</table>