<div style="padding: 100px; text-align: justify;">
	<h3>PRESENTACIÓN</h3>
	<p>
	El sistema Taurus es una tecnología de gestión administrativa para agilizar y generar seguridad, ahorro, confiabilidad, eficacia y cumplimiento en la gestión administrativa relacionada con la planeación, selección, celebración, ejecución y liquidación de los contratos estatales.
	Profesionales del derecho, la administración pública, ingeniería y contaduría con las más altas calidades y condiciones académicas y de experiencia han diseñado con el concurso de expertos desarrolladores informáticos esta herramienta con tecnología de punta para el servicio del estado Colombiano.
	</p>
</div>