<div class="container principal">
  <br>
<div class="container">

	<div class="row">
		<div class="col-md-8 principal-contenido">
			<h3 class="text-center">Contratacion</h3>
			<ul>
				<li class="nav-item">
					<a class="nav-link" routerLink="/modalidades">Modalidades</a>
				</li>  
			</ul>
		</div>

		<div class="col-md-4 sidebar">    
			<h3 class="text-center">Menu de acceso</h3>
			<p>Informacion de contratos</p>  
			<div class="carousel-inner container">
				<div class="carousel-item">
					<img class="d-block w-100" src="assets/img/reci.jpg" alt="Fourth slide">
				</div>
			</div>          
			<img class="d-block w-100" src="assets/img/reci.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> 
			<h3>Inicio</h3>
			<p>Texto</p>
		</div>         
	</div>
</div>



